body {
  background-color: #191414; /* Negro */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Texto en blanco */
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #1DB954; /* Verde Spotify */
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header span {
  font-size: 24px;
  color: white;
  padding-right: 15px;
}

#header a {
  padding-left: 15px;
  color: white; /* Texto en blanco */
}

#container {
  background-color: #282828; /* Gris oscuro */
  box-shadow: 8px 8px 20px #000;
  width: 50%;
  min-width: 700px;
  border-radius: 5px;
  color: white; /* Texto en blanco */
}

#inputContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 25px;
  color: white; /* Texto en blanco */
}

#toDoInput {
  outline: none;
  width: 75%;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  color: white; /* Texto en blanco */
  background-color: #333; /* Fondo gris medio */
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 50px;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  background: #1DB954; /* Verde Spotify */
  color: #FFF;
  font-size: 16px;
}

#toDoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  color: white; /* Texto en blanco */
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333; /* Gris medio */
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  color: white; /* Texto en blanco */
}

.toDoShell span {
  width: 90%;
  color: white; /* Texto en blanco */
}

.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}
